<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- render 'css-variables' -%}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag: preload: true }}

    {%- render 'meta-tags' -%}
    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-init.js' | asset_url }}" defer></script>
  </body>
</html>
